 <div class="parent">


    <div><h1>Welcome {{user}}</h1></div><br>
     <div><a routerLink="/transaction">History</a></div>
 <div class="child">
    <div class="wrapper">
        <div class="logo">
            <img src="../../assets/images/im.jpg" alt="">
        </div>
        <div class="text-center mt-2 name">
         Deposit
        </div>
        <form class="p-3 mt-3">
            
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="acc no" [(ngModel)]="acno"  id="acno"  placeholder="Account number">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password"   [(ngModel)]="pswd"  id="pswd" placeholder="Password">
            </div> 
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text"    [(ngModel)]="amount"  name="amount" id="amount"  placeholder="Amount">
            </div>
            <button class="btn mt-3"   (click)="deposit()"  >Deposit</button>
        </form>
        <div class="text-center fs-6">
  
        </div>
    </div>
 </div>


<div class="child"><div class="wrapper">
    <div class="logo">
        <img src="../../assets/images/im.jpg" alt="">
    </div>
    <div class="text-center mt-2 name">
        Withdraw
    </div>
    <form class="p-3 mt-3">
    
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="acc no" [(ngModel)]="acno1" id="acno1"  placeholder="Account number">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password"   [(ngModel)]="pswd1" id="pswd1"   placeholder="Password">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text"    [(ngModel)]="amount1"  name="amount1"   id="amount1" placeholder="Amount">
        </div>
        <button class="btn mt-3"   (click)="withdraw()"  >Withdraw</button>
    </form>
    <div class="text-center fs-6">
     
    </div>
</div></div>


 </div>