<div class="wrapper">
    <div class="logo">
        <img src="../../assets/images/im.jpg" alt="">
    </div>
    <div class="text-center mt-2 name">
        My Bank
    </div>
    <form class="p-3 mt-3" [formGroup]="registerForm">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text"    formControlName="uname"  name="username"  placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="acc no" formControlName="acno"  placeholder="Account number">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password"   formControlName="pswd"   placeholder="Password">
        </div> 
        <button class="btn mt-3"   (click)="register()"  >Register</button>
    </form>
    <div class="text-center fs-6">
         <a routerLink="">Sign in</a>
    </div>
</div>